@import "bootstrap";

.header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav-link {
  display: flex;
  justify-content: center;
  text-align: center;
}
.homeParagraph {
  display: flex;
  justify-content: center;
  text-align: center;
}

.homeHeader {
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer {
  font-weight: lighter;
  font-size: 16px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.5px solid black;
  text-align: center;
}
