@import "bootstrap";

.header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav-link {
  display: flex;
  justify-content: center;
  text-align: center;
}
.homeParagraph {
  display: flex;
  justify-content: center;
  text-align: center;
}

.homeHeader {
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer {
  border: 1px solid rgb(245, 242, 242);
  background-color: rgb(131, 121, 121);
  color: white;
  padding: 10px;
  text-align: end;
  left: 0;
  right: 0;
  bottom: 0;
}
.imgs{
  height: 200px;
  width: 420px;


}